<div class="angel-vertical-navigation-item-wrapper"
    [class.angel-vertical-navigation-item-has-subtitle]="!!item.subtitle" [ngClass]="item.classes?.wrapper!">

    <div class="angel-vertical-navigation-item" [ngClass]="{'angel-vertical-navigation-item-active': active,
                    'angel-vertical-navigation-item-disabled': item.disabled,
                    'angel-vertical-navigation-item-active-forced': item.active}" [matTooltip]="item.tooltip || ''">

        <!-- Icon -->
        <ng-container *ngIf="item.icon">
            <mat-icon class="angel-vertical-navigation-item-icon" [ngClass]="item.classes?.icon!" [svgIcon]="item.icon">
            </mat-icon>
        </ng-container>

        <!-- Title & Subtitle -->
        <div class="angel-vertical-navigation-item-title-wrapper">
            <div class="angel-vertical-navigation-item-title">
                <span [ngClass]="item.classes?.title!">
                    {{item.title}}
                </span>
            </div>
            <ng-container *ngIf="item.subtitle">
                <div class="angel-vertical-navigation-item-subtitle">
                    <span [ngClass]="item.classes?.subtitle!">
                        {{item.subtitle}}
                    </span>
                </div>
            </ng-container>
        </div>

        <!-- Badge -->
        <ng-container *ngIf="item.badge">
            <div class="angel-vertical-navigation-item-badge">
                <div class="angel-vertical-navigation-item-badge-content" [ngClass]="item.badge.classes!">
                    {{item.badge.title}}
                </div>
            </div>
        </ng-container>

    </div>

</div>

<ng-container *ngIf="!skipChildren">

    <div class="angel-vertical-navigation-item-children">

        <ng-container *ngFor="let item of item.children; trackBy: trackByFn">

            <!-- Skip the hidden items -->
            <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

                <!-- Basic -->
                <ng-container *ngIf="item.type === 'basic'">
                    <angel-vertical-navigation-basic-item [item]="item" [name]="name">
                    </angel-vertical-navigation-basic-item>
                </ng-container>

                <!-- Collapsable -->
                <ng-container *ngIf="item.type === 'collapsable'">
                    <angel-vertical-navigation-collapsable-item [item]="item" [name]="name"
                        [autoCollapse]="autoCollapse"></angel-vertical-navigation-collapsable-item>
                </ng-container>

                <!-- Divider -->
                <ng-container *ngIf="item.type === 'divider'">
                    <angel-vertical-navigation-divider-item [item]="item" [name]="name">
                    </angel-vertical-navigation-divider-item>
                </ng-container>

                <!-- Group -->
                <ng-container *ngIf="item.type === 'group'">
                    <angel-vertical-navigation-group-item [item]="item" [name]="name">
                    </angel-vertical-navigation-group-item>
                </ng-container>

                <!-- Spacer -->
                <ng-container *ngIf="item.type === 'spacer'">
                    <angel-vertical-navigation-spacer-item [item]="item" [name]="name">
                    </angel-vertical-navigation-spacer-item>
                </ng-container>

            </ng-container>

        </ng-container>

    </div>

</ng-container>