<div class="h-auto w-full bg-transparent">
  <h1 class="h-auto mx-auto max-w-7xl text-white text-5xl py-4 pl-4 xl:pl-0">{{title}}</h1>
  <div
    class="h-auto m-auto mx-4 xl:mx-auto max-w-7xl bg-white p-6 xl:p-10 rounded-md grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 place-items-center">
    <ng-container *ngFor="let itemGallery of itemsGallery; trackBy: trackByFn">
      <!-- It is not externalLink -->
      <mat-card *ngIf="!itemGallery.externalLink" [routerLink]="[itemGallery.link]"
        (click)="setItemGallery(itemGallery.id)"
        class="bg-white flex flex-col items-center justify-center h-40 w-full sm:w-auto sm:min-w-60 md:min-w-60 lg:min-w-80 rounded-md hover:bg-green-600 group transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500 cursor-pointer shadow-green-600">
        <mat-icon class="text-green-600 group-hover:text-white w-30 mb-4 transition-all duration-500"
          [svgIcon]="itemGallery.icon">
        </mat-icon>
        <mat-card-title
          class="text-2xl text-green-600 group-hover:text-white transition-all duration-500 mb-2">{{itemGallery.title}}</mat-card-title>
        <mat-card-subtitle
          class="text-md text-gray-600 text-center group-hover:text-white transition-all duration-500">{{itemGallery.subtitle}}</mat-card-subtitle>
      </mat-card>
      <!-- externalLink -->
      <a *ngIf="itemGallery.externalLink" [href]="itemGallery.link" [target]="itemGallery.target!">
        <mat-card
          class="bg-white flex flex-col items-center justify-center h-40 w-auto max-w-100 sm:min-w-40 md:min-w-60 rounded-md hover:bg-green-600 group transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500 cursor-pointer shadow-green-600">
          <mat-icon class="text-green-600 group-hover:text-white w-30 mb-4 transition-all duration-500"
            [svgIcon]="itemGallery.icon">
          </mat-icon>
          <mat-card-title
            class="text-2xl text-green-600 group-hover:text-white transition-all duration-500 mb-2">{{itemGallery.title}}</mat-card-title>
          <mat-card-subtitle
            class="text-md text-gray-600 text-center group-hover:text-white transition-all duration-500">{{itemGallery.subtitle}}</mat-card-subtitle>
        </mat-card>
      </a>
    </ng-container>
  </div>
</div>