<div
  class="flex flex-col flex-auto min-w-0 bg-green-600 bg-[url('assets/images/static/backgroundPageDebitCard.png')] bg-cover">
  <app-header></app-header>
  <app-header-block></app-header-block>
  <div class="flex flex-col md:flex-row w-full h-auto md:h-full md:py-8 md:mx-auto md:max-w-7xl md:px-6">
    <app-page-title class="md:w-4/12" [title]="'Tarjetas de débito'" [icon]="'static:i_debit_card'"
      [image]="'assets/images/static/mobileDebitCard.jpg'"></app-page-title>
    <div #content class="w-full h-auto bg-white p-8 sm:px-16 md:w-8/12 md:rounded-xl opacity-95">
      <p class="text-gray-600 font-normal text-justify">
        La tarjeta de débito es un tipo de plástico emitido por una entidad financiera con una banda magnética en el
        reverso y un chip electrónico que guarda información sobre los datos de acceso, el nombre y número de cuenta del
        titular. Se utiliza para poder efectuar diferentes operaciones financieras y está ligada a una clave que permite
        autorizar dichas transacciones.<br><br>

        <strong>Características</strong><br><br>
        Es de fácil uso y accesible para todos nuestros socios y clientes, con ella se puede realizar:<br><br>
        - Retiro de efectivo en cualquier Cajero BANRED.<br>
        - Compras en almacenes aliados a Visa.<br>
        - Compras Internacionales.<br>
        - Compras en líneas.<br>
        - Beneficios cliente de Visa.<br><br>
        <strong>Requisitos</strong><br><br>
        - Cuenta de Ahorros Activa.<br>
        - Copia de cédula de identidad o pasaporte a color.<br>
        - Costo $4.37.<br><br>
        <strong>Mantenimiento</strong><br><br>
        El mantenimiento de la tarjeta de débito tiene un cargo anual de $1.57 que se deduce de la cuenta de ahorros.

      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>