<div
  class="flex flex-col flex-auto min-w-0 bg-green-600 bg-[url('assets/images/static/backgroundPageMedicalCare.png')] bg-cover">
  <app-header></app-header>
  <app-header-block></app-header-block>
  <div class="flex flex-col md:flex-row w-full h-auto md:h-full md:py-8 md:mx-auto md:max-w-7xl md:px-6">
    <app-page-title class="md:w-4/12" [title]="'Atención Médica'" [icon]="'static:i_medical_care'"
      [image]="'assets/images/static/mobileMedicalCare.jpg'"></app-page-title>
    <div #content class="w-full h-auto bg-white p-8 sm:px-16 md:w-8/12 md:rounded-xl opacity-95">
      <p class="text-gray-600 font-normal text-justify">
        Se conoce como atención médica, asistencia médica, atención sanitaria o atención de salud en
        algunos países latinoamericanos, al conjunto de servicios que se proporcionan al individuo, con
        el fin de promover, proteger y restaurar su salud.<br><br>

        <strong>RESPONSABILIDAD SOCIAL</strong><br><br>

        Se conoce como atención médica, asistencia médica, atención sanitaria o atención de salud en
        algunos países latinoamericanos<br><br>

        <strong>CARACTERÍSTICAS</strong><br><br>

        - El socio podrá elegir al prestador de servicio de salud, de entre aquellos que forman parte de
        la <strong>RED MÉDICA COAC COCA LTDA.</strong><br>

        - La atención a los socios se realizará con los horarios que se mantienen en cada
        consultorio.<br>

        - Los tiques deberán ser retirados en las dependencias de la cooperativa, que serán entregados
        por los funcionarios de Atención al Cliente.<br>

        - El socio solo podrá ser atendido previa la presentación del tique entregado por la
        cooperativa, <strong>excepto fines de semana y días feriados.</strong><br>

        - El servicio de atención médica es gratuito para todos nuestros socios, con la condición de aporte del seguro
        de vida de $ 1.00 mensual.<br><br>

        <strong>REQUISITOS PARA SOCIOS Y DEPENDIENTES</strong><br><br>

        - Presentar la cédula del titular de la cuenta.<br>
        - Presentar el turno entregado por la Cooperativa.<br>
        - En el caso del dependiente presentar la cédula del mismo.<br><br>

        <strong>LÍMITE DE ATENCIÓN</strong><br>
        Cada Socio tiene derecho a:<br><br>

        - Cuatro atenciones odontológicas por año.<br>
        - Seis atenciones en medicina general por año.<br><br>

      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>