<div
  class="flex flex-col flex-auto min-w-0 bg-green-600 bg-[url('assets/images/static/backgroundPageTransfers.png')] bg-cover">
  <app-header></app-header>
  <app-header-block></app-header-block>
  <div class="flex flex-col md:flex-row w-full h-auto md:h-full md:py-8 md:mx-auto md:max-w-7xl md:px-6">
    <app-page-title class="md:w-4/12" [title]="'Transferencias'" [icon]="'static:i_transfer'"
      [image]="'assets/images/static/mobileTransfers.jpg'"></app-page-title>
    <div #content class="w-full h-auto bg-white p-8 sm:px-16 md:w-8/12 md:rounded-xl opacity-95">
      <p class="text-gray-600 font-normal text-justify">
        Una transferencia bancaria es la operación por la que una persona o entidad (el ordenante) da
        instrucciones a su entidad bancaria para que envíe, con cargo a una cuenta suya, una determinada
        cantidad de dinero a la cuenta de otra persona o empresa (el beneficiario). Dicho de otra forma,
        realizar una transferencia es pasar dinero de una cuenta a otra, bien de la misma entidad o bien
        en otra entidad.<br><br>

        <strong>CARACTERÍSTICAS</strong><br>
        - Existen dos tipos de transferencias.<br><br>

        <strong>LOCALES:</strong><br><br>

        - Dentro de las transferencia locales tenemos dirigidas al:<br>
        Banco de Pichincha, Guayaquil e Internacional, lo cual esta transferencia se realiza al instante
        efectivo.<br><br>

        <strong>INTERBANCARIAS:</strong><br><br>

        - Envío de transferencias a los Bancos que no son considerados como locales en nuestra
        Institución, misma que se hará efectiva en 24 horas.<br>
        - Este es un servicio exclusivo para los socios de nuestra Cooperativa.<br><br>
      </p>
      <div class="w-full flex justify-center mt-4">
        <button [matTooltip]="'Abrir banca virtual'" (click)="openModalVirtualBanking()"
          class="p-4 w-auto rounded-lg bg-green-600 text-white font-medium text-xl hover:text-green-600 hover:bg-white transition duration-300 border-2 border-white hover:border-green-600">Banca
          virtual</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>