<div class="h-auto w-full lg:px-4 bg-transparent">
  <h1 class="h-auto mx-auto max-w-7xl text-white text-5xl py-4 pl-4 xl:pl-0">{{title}}</h1>
  <div class="h-auto mx-4 md:mx-4 lg:mx-auto xl:mx-auto max-w-7xl bg-white p-6 xl:p-10 rounded-md">
    <div class="flex w-40 mx-auto items-center">
      <mat-icon class="w-10 text-green-600 group-hover:text-white" [svgIcon]="'static:i_history'">
      </mat-icon>
      <h1 class="text-green-600 text-3xl ml-2">Historia</h1>
    </div>
    <div class="px-0 py-4 sm:p-4 font-light ">
      <p class="text-gray-800 columns-1 sm:columns-2 md:columns-3 gap-x-12 gap-y-12 text-justify">
        Por el mes de diciembre del año 1997, a iniciativa del señor Enrique Diego Cabrera Martínez, se
        reúnen un grupo de amigos deseosos de crear desarrollo y progreso, por ello deciden impulsar la
        creación de una institución propia de nuestra provincia y es así como la señora Carmen Piedra,
        Nelson Santillán, Lidia Sánchez, Juan Torres, María Tituaña, Silvia Mena, Edgar Ortega,Yolquin Andi,
        Henry Naranjo, Yofre Sánchez, Lenín Salazar, Olivia Sánchez, Jorge Olaya, Eugenio Sánchez y Fanny
        Urbina; resuelven formar una cooperativa de ahorro y crédito, cuyo nombre inicial era Amazonas
        Ltda.En la Dirección Nacional de Cooperativas no se acepta esta denominación y queda con el nombre
        de Cooperativa de Ahorro y Crédito COCA LTDA., cuya personería jurídica se la obtiene el 19 de enero
        del año 1998.

        Se inició la atención al público el día 25 de febrero de 1998, siendo su primer Gerente el señor
        Diego Cabrera Martínez. El primer Presidente del Consejo de Administración fue el sr. Edgar Ortega
        Pacheco y el Presidente del Consejo de Vigilancia fue el Sr. Yolquin Néstor Andi Arévalo. Sobre
        estas personas recayó la gran responsabilidad de sacar adelante esta institución, con el apoyo
        incondicional de los demás dirigentes y socios fundadores.

        A partir de entonces, nuestra Cooperativa inicio un proceso de crecimiento firme y sostenido,
        gracias a la confianza de los pobladores de esta floreciente provincia, quienes miraban y miran con
        mucho orgullo, como una institución financiera creada y fundada en nuestro seno, se ha ido
        consolidando como una de las instituciones financieras más sólidas de nuestra región. En la
        actualidad, nuestra Cooperativa cuenta con mas de 18.000 socios, que agrupan a los cantones de
        Sacha, Loreto, Francisco de Orellana, y Shushufindi en la provincia de Sucumbíos, y mantenemos
        alianzas con varias cooperativas hermanas de todo el Ecuador. Nuestros servicios financieros están
        encaminados, especialmente, a satisfacer las necesidades económicas de las personas más vulnerables
        y especialmente a aquellas que por su situación económica, no tienen un fácil acceso a la banca
        tradicional.

        Los socios cuentan con beneficios como: servicios médicos, odontológicos, seguro de desgravamen y un
        seguro de vida. Nuestro sueño, tras concluir en el 2008 la construcción del edificio matriz, ubicado
        en la calle Quito con Bolivar en la ciudad de Francisco de Orellana, donde se proyecta el centro
        Médico – Odontológico propio de la institución, es seguir creciendo en cobertura y clientes a nivel
        regional, lo que nos dará mayor solidez y confianza dentro del mercado. Nuestra Cooperativa, ubicada
        en una zona con una población en crecimiento, y un sector turístico con un desarrollo muy
        promisorio, se encuentra preparada para afrontar las crisis financieras y sociales, con la
        tranquilidad que da la planificación y la solvencia económica, pero nuestra mayor dedicación sigue
        siendo entregar servicios eficientes, ágiles y oportunos a los asociados, lo cual nos permitirá
        proyectarnos a un esplendoroso futuro.
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 mt-4 md:justify-items-center">
      <div class="w-auto md:max-w-100">
        <div class="flex w-40 mx-auto items-center">
          <mat-icon class="w-10 text-green-600 group-hover:text-white" [svgIcon]="'static:i_mission'">
          </mat-icon>
          <h1 class="text-green-600 text-3xl ml-2">Misión</h1>
        </div>
        <div class="px-0 py-4 sm:pl-4 font-light">
          <p class="text-gray-800 text-justify">
            Somos una Cooperativa de Ahorro y Crédito que promueve la calidad de vida de nuestros socios y clientes
            mediante productos y servicios financieros competitivos y oportunos, contando con talento humano
            comprometido con fuerte vocación de servicio, dentro de estructura financiera sólida y transparente.
          </p>
        </div>
      </div>
      <div class="w-auto md:max-w-100">
        <div class="flex w-40 mx-auto items-center">
          <mat-icon class="w-10 text-green-600 group-hover:text-white" [svgIcon]="'static:i_vision'">
          </mat-icon>
          <h1 class="text-green-600 text-3xl ml-2">Visión</h1>
        </div>
        <div class="px-0 py-4 sm:pr-4 font-light">
          <p class="text-gray-800 text-justify">
            Ser un Cooperativa de segmento dos, con un crecimiento promedio del activo mayor al 15.40%.
          </p>
        </div>
      </div>
      <div class="w-auto md:max-w-100">
        <div class="flex w-40 mx-auto items-center">
          <mat-icon class="w-10 text-green-600 group-hover:text-white" [svgIcon]="'static:i_values'">
          </mat-icon>
          <h1 class="text-green-600 text-3xl ml-2">Valores</h1>
        </div>
        <div class="pl-4 py-4 sm:pl-8 font-light text-gray-800">
          <ul class="list-disc">
            <li>
              Solidaridad
            </li>
            <li>
              Honestidad
            </li>
            <li>
              Lealtad
            </li>
            <li>
              Responsabilidad
            </li>
            <li>
              Respeto
            </li>
            <li>
              Confianza
            </li>
            <li>
              Transparencia
            </li>
          </ul>
        </div>
      </div>
      <div class="w-auto md:max-w-100">
        <div class="text-center">
          <img class="w-auto max-w-80 sm:max-w-50 md:max-w-80 mx-auto rounded-md" src="assets/images/static/ceo.jpg"
            alt="Imagen del gerente general de la Cooperativa COCA LTDA">
          <h4 class="mt-1 text-lg text-gray-800 font-light">Econ. Emma Valarezo</h4>
          <h4 class="mt-1 text-lg text-gray-800 font-normal">Gerente General</h4>
          <img class="h-13 my-8" src="assets/images/logo/logoHistory.svg" alt="Logotipo de la cooperativa COCA LTDA">
        </div>
      </div>
    </div>

  </div>
</div>