<div
  class="w-full h-auto bg-cover bg-[url('assets/images/static/contactMobile.jpg')] md:bg-[url('assets/images/static/contactDesktop.jpg')]">
  <div class="w-full h-[130vw] flex items-end md:h-[27vw] md:justify-end">
    <a [routerLink]="'/public/contact'"
      class="md:w-[20vw] md:text-xl md:p-3 md:mb-[5vw] md:mr-[22vw] text-center w-50 sm:w-72 h-auto rounded-full bg-transparent text-md border border-solid border-green-600 text-green-600 p-4 mb-[10vw] ml-[10vw] sm:mb-[13vw] sm:ml-[13vw] hover:bg-green-600 hover:text-white ease-in-out transition duration-500 delay-150 hover:-translate-y-1 hover:scale-110">CONTACTAR</a>
  </div>
</div>