<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-0">
            </div>
            <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
            </h1>
            <!-- Light version -->
            <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
            <!-- Dark version -->
            <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                src="assets/images/background-on-dark.svg">
        </div>
        <!-- Entity -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <button mat-stroked-button (click)="toggleEditMode(true)">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                        <span class="ml-1">Editar</span>
                    </button>
                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <div class="flex flex-col mt-4 pt-6 space-y-8">
                    <!-- id_profile -->
                    <ng-container *ngIf="typeUser.profile.id_profile">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:user-group'"></mat-icon>
                            <div class="ml-6 leading-6">{{selectedProfile.name_profile}}</div>
                        </div>
                    </ng-container> <!-- name_type_user -->
                    <ng-container *ngIf="typeUser.name_type_user">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{typeUser.name_type_user}}</div>
                        </div>
                    </ng-container> <!-- description_type_user -->
                    <ng-container *ngIf="typeUser.description_type_user">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                            <div class="ml-6 leading-6">{{typeUser.description_type_user}}</div>
                        </div>
                    </ng-container> <!-- status_type_user -->
                    <ng-container>
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:status-online'"></mat-icon>
                            <div *ngIf="typeUser.status_type_user" class="ml-6 mt-1 w-3 h-3 bg-green-700 rounded-full">
                            </div>
                            <div *ngIf="!typeUser.status_type_user" class="ml-6 mt-1 w-3 h-3 bg-red-600 rounded-full">
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-25">
            </div>
            <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
            </h1>
            <!-- Light version -->
            <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
            <!-- Dark version -->
            <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                src="assets/images/background-on-dark.svg">
        </div>
        <!-- form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <!-- Save -->
                    <button mat-flat-button [color]="'primary'" [disabled]="typeUserForm.invalid"
                        [matTooltip]="'Guardar'" (click)="updateTypeUser()">
                        Guardar
                    </button>
                    <!-- Delete -->
                    <button mat-stroked-button class="ml-2" [color]="'warn'" [matTooltip]="'Eliminar'"
                        (click)="deleteTypeUser()">
                        Eliminar
                    </button>
                    <!-- Cancel -->
                    <button mat-stroked-button class="ml-2 mr-2" [matTooltip]="'Cancelar'"
                        (click)="toggleEditMode(false)">
                        Cancelar
                    </button>

                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <form [formGroup]="typeUserForm" class="mb-8">
                    <!-- Alert -->
                    <angel-alert class="mt-8" *ngIf="typeUserForm.invalid || showAlert" [appearance]="'outline'"
                        [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                        <!-- MessageAPI if alert is actived for the component -->
                        {{alert.message}}
                        <!-- id_profile -->
                        <mat-error *ngIf="typeUserForm.get('id_profile')?.hasError('required')">
                            • Seleccione el perfil
                        </mat-error>
                        <!-- name_type_user -->
                        <mat-error *ngIf="typeUserForm.get('name_type_user')?.hasError('required')">
                            • Ingrese el nombre del tipo de usuario
                        </mat-error>
                        <!-- description_type_user -->
                        <mat-error *ngIf="typeUserForm.get('description_type_user')?.hasError('required')">
                            • Ingrese la descripción del tipo de usuario
                        </mat-error>
                        <!-- status_type_user -->
                        <mat-error *ngIf="typeUserForm.get('status_type_user')?.hasError('required')">
                            • Ingrese el estado del tipo de usuario
                        </mat-error>

                    </angel-alert>
                    <!-- Alert -->
                    <!-- id_profile -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Perfil</mat-label>
                            <mat-select [formControlName]="'id_profile'" [value]="selectedProfile.id_profile">
                                <ng-container *ngFor="let element of listProfile">
                                    <mat-option [value]="element.id_profile">
                                        {{element.name_profile}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div><!-- name_type_user -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Nombre</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            <input matInput maxlength="100" [formControlName]="'name_type_user'"
                                [placeholder]="'Ingrese el nombre'" [spellcheck]="true">
                        </mat-form-field>
                    </div> <!-- description_type_user -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Descripción</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:tag'">
                            </mat-icon>
                            <input matInput maxlength="250" [formControlName]="'description_type_user'"
                                [placeholder]="'Ingrese la descripción'" [spellcheck]="true">
                        </mat-form-field>
                    </div> <!-- status_type_user -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Estado</mat-label>
                            <mat-select [formControlName]="'status_type_user'">
                                <mat-option [value]="true">Activo</mat-option>
                                <mat-option [value]="false">Inactivo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>