<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 place-content-center">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Iniciar sesión</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>¿No tienes una cuenta?</div>
                <a class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['../../auth/sign-up-message']">Registrate
                </a>
            </div>

            <!-- Alert -->
            <angel-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </angel-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Correo electrónico</mat-label>
                    <input id="email" matInput [formControlName]="'email'">
                    <mat-error *ngIf="signInForm.get('email')?.hasError('required')">
                        Correo electrónico requerido
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email')?.hasError('email')">
                        Ingresa un correo valido por favor
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Contraseña requerida
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox [color]="'primary'" [formControlName]="'rememberMe'">
                        Recuérdame
                    </mat-checkbox>
                    <a class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['../../auth/forgot-password']">¿Olvidaste tu contraseña?
                    </a>
                </div>

                <!-- Submit button -->
                <button class="angel-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="signInForm.disabled" (click)="signIn()">
                    <span class="text-white" *ngIf="!signInForm.disabled">
                        Ingresar
                    </span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

                <!-- Separator -->
                <!-- <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">O continuar con</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div> -->

                <!-- Single sign-on buttons -->
                <!-- <div class="flex items-center mt-8 space-x-4">
                    <button class="flex-auto" type="button" mat-stroked-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
                    </button>
                    <button class="flex-auto" type="button" mat-stroked-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:twitter'"></mat-icon>
                    </button>
                    <button class="flex-auto" type="button" mat-stroked-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
                    </button>
                </div> -->
            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <svg class="absolute text-gray-700 b-r-25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.11 458.1"
            width="280" height="280">
            <g data-name="Capa 2">
                <path
                    d="M413.58 96.68c-.49-4.9 39.05-31.42 24.55-67.67 1.52-1.51 86.42 91 24.26 212.25 0 0 12.13-95.51-59.12-119.77S221.34 103.3 185 336.77C153.12 464.12 0 458.05 0 458.05S68.22 397.41 66.71 358c-4.55-19.7-33.36 4.55-33.36 4.55s9.1-50 36.39-62.16c-3-1.51-33.36-6.06-44 13.65 1.52-4.55 13.65-75.8 72.77-92.48-4.55 0-50-22.74-83.38 9.1 0-3 10.61-101.58 151.6-106.13 0-6.06-92.47-34.86-157.66 7.58C7.58 133.62 94-11.92 289.56 60.85c-1.51-3-3-40.93-66.7-51.54 0 0 117.93-51.4 190.72 87.37Zm-262 85.45c-16.24 56.87-28.87 162-53 196.85 28.54-15.17 57.79-69.92 68.15-127.11C188.92 129.64 279 100.27 279 100.27s-109.2 18.19-127.4 81.86Z"
                    fill="currentColor" data-name="Capa 1" />
            </g>
        </svg>
        <svg class="absolute text-gray-700 t-l-25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.11 458.1"
            width="140" height="140">
            <g data-name="Capa 2">
                <path
                    d="M71.53 361.41c.5 4.9-39.05 31.43-24.55 67.67-1.52 1.52-86.41-91-24.26-212.24 0 0-12.12 95.51 59.13 119.77s181.92 18.19 218.31-215.28C332-6 485.11.05 485.11.05s-68.22 60.64-66.7 100.05c4.55 19.71 33.35-4.54 33.35-4.54s-9.09 50-36.38 62.15c3 1.52 33.35 6.07 44-13.64-1.51 4.55-13.64 75.8-72.77 92.48 4.55 0 50 22.74 83.38-9.1 0 3-10.61 101.58-151.6 106.12 0 6.07 92.48 34.87 157.67-7.58 1.51-1.51-84.9 144-280.47 71.26 1.52 3 3 40.93 66.71 51.54-.04 0-117.97 51.4-190.77-87.38Zm262-85.45c16.25-56.86 28.88-162 53-196.84C358 94.29 328.72 149 318.35 206.23c-22.16 122.23-112.19 151.6-112.19 151.6S315.32 339.64 333.51 276Z"
                    data-name="Capa 1" fill="currentColor" />
            </g>
        </svg>
        <svg class="absolute text-gray-700 t-r-25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 369.48 328.52"
            width="220" height="192">
            <g data-name="Capa 2">
                <g data-name="Capa 1">
                    <path
                        d="M324.52 168.49c-3.1.42-22.22 17.55-22.22 17.55s-2.88-34.95-22.34-34.19c-5.33 2.62-22.25 22-22.25 22s-5.53-35.86-30.32-32.47c-23.91 5.16-82.91 35.31-39.49 94.4 1.32.45-27.2 36.53 1.48 47.77 19.43 3.65 59.74-6.27 59.74-6.27s-54.66 43.44-69.68 39.82-39.95-47.57-39.84-65.26c.07-11.08-5.64-44.44-11-70-10 3.37-19.89 9.95-29.1 21.23-45.75 56.08 35.42 125.45 35.42 125.45s-62 0-73.79-51.66c0 3-5.9 25.09-5.9 25.09s-31-28-19.19-72.31c-4.43 4.43-19.18 23.61-19.18 23.61s-23.62-64.93 36.89-79.69c-1.47 0-32.47-7.38-32.47-7.38s45.75-70.84 104.79-38.37a5.26 5.26 0 0 1 .68 0c6.87-9.53 19.27-17.42 38.56-14.2-15.47-3.31-55.84-13.11-70.22-35C77.58 52 56.61 9.41 0 10.83c0 0 24.07-31.69 82.62 13.34s97 49.23 122.65 47.62 41.07 9.54 48.93 25.51c-17.55-11.83-35.83 1.11-35.83 1.11L274 117.32 203.47 3.24l21.95 26.66s53.06 74.18 72.44 86.68 32.62 17 32.62 17l16.87-10.51 6.51 19.93 14.14 6.3s3.46 11.51-.14 22.11-29.87 40.06-43.59 41.3c-.02 0 20.11-37.47.25-44.22Zm-154.26-53.84 1.13.27Z"
                        fill="currentColor" />
                    <path
                        d="M200.19 177.9c57.81 21.1 16.25 91.2 16.25 91.2L189 271.58l7.18-16.76c7.17-16.76-.26-29.63-9-47.37-6.08-16.84 13.01-29.55 13.01-29.55Z"
                        fill="currentColor" />
                </g>
            </g>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>{{_app_data.nameProject}}</div>
                <div class="text-3xl mt-6">{{_app_data.descriptionProject}}</div>
            </div>
            <div class="text-3xl text-md tracking-tight leading-6 text-gray-400 mt-3">
                {{_app_data.companyProject}}
            </div>
            <div class="flex items-center mt-3">
                <div class="font-medium tracking-tight text-gray-400">{{_app_data.sloganCompany}}</div>
            </div>
        </div>
    </div>
</div>