<div
  class="flex flex-col flex-auto min-w-0 bg-green-600 bg-[url('assets/images/static/backgroundPageCashiers.png')] bg-cover">
  <app-header></app-header>
  <app-header-block></app-header-block>
  <div class="flex flex-col md:flex-row w-full h-auto md:h-full md:py-8 md:mx-auto md:max-w-7xl md:px-6">
    <app-page-title class="md:w-4/12" [title]="'Cajeros'" [icon]="'static:i_debit_card'"
      [image]="'assets/images/static/mobileCashiers.jpg'"></app-page-title>
    <div #content class="w-full h-auto bg-white p-8 sm:px-16 md:w-8/12 md:rounded-xl opacity-95">
      <p class="text-gray-600 font-normal text-justify">
        Un cajero automático es una máquina expendedora usada para extraer dinero utilizando tarjeta de
        plástico con banda magnética o chip (por ejemplo, tarjeta de débito o tarjeta de crédito), sin
        necesidad de personal del banco.<br><br>

        <strong>CARACTERÍSTICAS</strong><br><br>

        - Pueden utilizar este servicio los socios de nuestra Institución y los clientes.<br>
        - La atención las 24 horas del día, durante los 365 días del año.<br>
        Debe adquirir una tarjeta de debido para poder utilizar este servicio.
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>