<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Eventos del sistema</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="count > 0">
                                {{count}}
                            </ng-container>
                            {{count | i18nPlural: {
                            '=0' : 'No hay eventos del sistema',
                            '=1' : 'Evento del sistema',
                            'other': 'Eventos del sistema'
                            } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="angel-mat-dense angel-mat-no-subscript w-full min-w-50">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                                    [placeholder]="'Buscar por la tabla del evento'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- list -->
                <div class="relative">
                    <!-- Skeleton loader -->
                    <div *ngIf="!contentLoaded">
                        <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index"
                            class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer hover:bg-hover border-b">
                            <ngx-skeleton-loader appearance="circle" animation="pulse" [theme]="{
                            'background-color':'rgba(30, 41, 59, 0.2)',
                            'margin-bottom': 0
                      }"></ngx-skeleton-loader>
                            <div class="w-full ml-4">
                                <ngx-skeleton-loader count="2" appearance="line" animation="pulse" [theme]="{
                                'background-color':'rgba(30, 41, 59, 0.2)',
                                height: '14px',
                                'margin-bottom': 0,
                                'border-radius': '10px'
                              }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <!-- Skeleton loader -->
                    <ng-container *ngIf="systemEvents$ | async as systemEvents">
                        <ng-container *ngIf="systemEvents.length; else noResults">
                            <ng-container *ngFor="let systemEvent of systemEvents; let i = index; trackBy: trackByFn">
                                <!-- Entity -->
                                <div class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer hover:bg-hover border-b"
                                    [ngClass]="{'bg-primary-50 dark:bg-hover': selectedSystemEvent && selectedSystemEvent.id_system_event === systemEvent.id_system_event}"
                                    [routerLink]="['./', systemEvent.id_system_event]">
                                    <div
                                        class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                        <ng-container *ngIf="systemEvent.user.avatar_user">
                                            <img class="object-cover w-full h-full"
                                                [src]="_urlPathAvatar + systemEvent.user.avatar_user"
                                                alt="Avatar User" />
                                        </ng-container>
                                        <ng-container *ngIf="!systemEvent.user.avatar_user">
                                            <div
                                                class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{systemEvent.user.person.name_person.charAt(0)}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">
                                            {{systemEvent.user.name_user}}
                                        </div>
                                        <div class="leading-5 truncate text-secondary">
                                            {{systemEvent.action_system_event + " - "+
                                            systemEvent.table_system_event.toUpperCase() + "
                                            - "+ systemEvent.row_system_event}}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- No Results -->
                    <ng-template #noResults>
                        <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">¡No hay
                            resultados!</div>
                    </ng-template>

                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>