<div class="w-full px-4">
  <div class="hidden w-full max-w-7xl lg:mx-auto h-auto bg-white md:flex flex-row flex-wrap mt-4">
    <div class="w-full h-auto">
      <figure>
        <img class="w-full p-3" src="assets/images/static/informationSection.jpg" alt="Imagen sabias que?">
      </figure>
    </div>
    <div class="w-2/4 h-auto">
      <video class="w-full p-3" controls preload="auto">
        <source src="assets/video/962455385.mp4#t=2">
      </video>
    </div>
    <div class="w-2/4 h-auto">
      <video class="w-full p-3" controls preload="auto">
        <source src="assets/video/962799943.mp4#t=2">
      </video>
    </div>
  </div>
</div>