<div
  class="flex flex-col flex-auto min-w-0 bg-green-600 bg-[url('assets/images/static/backgroundPageInsurance.png')] bg-cover">
  <app-header></app-header>
  <app-header-block></app-header-block>
  <div class="flex flex-col md:flex-row w-full h-auto md:h-full md:py-8 md:mx-auto md:max-w-7xl md:px-6">
    <app-page-title class="md:w-4/12" [title]="'Seguros'" [icon]="'static:i_insurance'"
      [image]="'assets/images/static/mobileInsurance.jpg'"></app-page-title>
    <div #content class="w-full h-auto bg-white p-8 sm:px-16 md:w-8/12 md:rounded-xl opacity-95">
      <p class="text-gray-600 font-normal text-justify">
        El seguro es un medio para la cobertura de los riesgos al transferirlos a una aseguradora y/o
        entidad que se va a encargar de garantizar o indemnizar todo o parte del perjuicio producido por
        la aparición de determinadas situaciones accidentales.<br><br>

        <strong>Seguro de vida</strong><br><br>

        El socio que contrate la cuenta de ahorros será beneficiario de un seguro de vida que le cubrirá:<br><br>
      </p>
      <h1 #title
        class="w-full bg-green-600 md:bg-transparent py-4 md:py-0 rounded-md text-white  text-center my-4 font-medium text-2xl md:text-gray-600">
        Seguro de vida
      </h1>
      <div class="w-full md:w-10/12 md:px-8 mx-auto mb-8">
        <table class="w-full p-4 text-base font-normal text-gray-500 border-2 border-solid border-gray-300">
          <tr>
            <td class="p-2 text-green-600 font-bold">COBERTURA</td>
            <td class="p-2 text-green-600 font-bold">DETALLE</td>
            <td class="p-2 text-green-600 font-bold">VALOR</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-2">Muerte por cualquier causa</td>
            <td class="p-2">Un solo pago a causa de muerte por cualquier causa del asegurado.</td>
            <td class="p-2">700,00</td>
          </tr>
          <tr>
            <td class="p-2">Muerte Terminal</td>
            <td class="p-2">Independiente al seguro de vida.</td>
            <td class="p-2">150,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-2">Gastos médicos por accidente</td>
            <td class="p-2">Gastos a consecuencia de un accidente, se <label class="correccion">trabajará</label>
              bajo rembolso.</td>
            <td class="p-2">100,00</td>
          </tr>
          <tr>
            <td class="p-2">Gastos ambulancia</td>
            <td class="p-2">Gastos para traslado en ambulancia.</td>
            <td class="p-2">50,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-2">Maternidad</td>
            <td class="p-2">Ayuda por gastos por alumbramiento.</td>
            <td class="p-2">150,00</td>
          </tr>
          <tr>
            <td class="p-2">Sepelio</td>
            <td class="p-2">Un solo valor por muerte por cualquier causa.</td>
            <td class="p-2">250,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-2">Ayuda quirúrgica por emergencia y enfermedad.</td>
            <td class="p-2">Ayuda para gastos quirúrgicos por emergencia y enfermedad.</td>
            <td class="p-2">30,00</td>
          </tr>
          <tr>
            <td class="p-2">Renta por muerte accidental</td>
            <td class="p-2">Cubre muerte del socio a consecuencia de un hecho exterior.</td>
            <td class="p-2">400,00</td>
          </tr>
        </table>
      </div>
      <p class="text-gray-600 font-normal text-justify">
        <strong>Requisitos</strong><br><br>
        - Contar con las 6 últimas aportaciones consecutivas del débito mensual.<br><br>
      </p>
      <div class="w-full md:w-10/12 md:px-8 mx-auto mb-8">
        <table class="w-full p-4 text-base font-normal text-gray-500 border-2 border-solid border-gray-300">
          <tr>
            <td class="p-2 text-green-600 font-bold">DEDUCIBLES</td>
            <td class="p-2 text-green-600 font-bold">LÍMITES</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-2">Gastos médicos por accidente</td>
            <td class="p-2">100,00</td>
          </tr>
          <tr>
            <td class="p-2">Maternidad</td>
            <td class="p-2">100,00</td>
          </tr>
        </table>
      </div>
      <div class="w-full md:w-10/12 md:px-8 mx-auto mb-8">
        <table class="w-full p-4 text-base font-normal text-gray-500 border-2 border-solid border-gray-300">
          <tr>
            <td class="p-2 text-green-600 font-bold">LÍMITES DE EDAD</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-2">De 1 año a 70 años al 100%</td>
          </tr>
          <tr>
            <td class="p-2">de 71 años 1 día a 80 años cumplidos al 50%</td>
          </tr>
        </table>
      </div>
      <h1 #title
        class="w-full bg-green-600 md:bg-transparent py-4 md:py-0 rounded-md text-white  text-center my-4 font-medium text-2xl md:text-gray-600">
        Seguros de desgravamen
      </h1>
      <p class="text-gray-600 font-normal text-justify">
        <li>La Cooperativa pensando en la Seguridad de los familiares de sus socios mantiene el seguro de
          desgravamen para los créditos, cubriendo la muerte por cualquier causa o incapacidad total y
          permanente.</li>
        <li>Este seguro cubre siempre y cuando el deudor se encuentre al día en el pago de sus cuotas.</li>
        <li>Hasta los 70 años el seguro cubre el 100% de la deuda.</li>
        <li>De 71 años con 1 día a 80 años cumplidos cubre el 50% de la deuda.</li>
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>